/* --- Icons (Lucide / Feather style) --- */

/* Utility for icons */
.icon {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: inline-block;
    vertical-align: middle;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.icon-lg {
    width: 32px;
    height: 32px;
}

.icon-xl {
    width: 48px;
    height: 48px;
}

/* Specific Icon Classes (if using sprites or background, but inline SVG is better for color control) */
/* We will use inline SVGs in HTML for maximum control, 
   but here are some helpers if needed */

.btn .icon {
    margin-right: var(--space-2);
}