#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.person{
    border: 2px solid black;
    border-radius: 20px;
    
}

/*room*/
.leave{
  height: 40px;
  width: 80px;
  
  color: white;
  background-color: red;
  border: none;
  border-radius: 15px;
 
}
.videoBtn{
  height: 40px;
  width: 100px;
  margin-left: 10px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15px;
}
.audioBtn{
  height: 40px;
  width: 100px;
  margin-left: 10px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15px;
}
/* lobby*/

.roomCode{
  height: 40px;
  border-radius: 15px;
  padding-left: 20px;
  margin-right: 2vw;
  width: 30vw;
}
.yourName{
   height: 40px;
  border-radius: 15px;
  padding-left: 20px;
  width: 20vw;
  
}
.join{
  border: none;
  font-size: 1em;
  height: 40px;
  width: 60px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left:2vw;
  color: aliceblue;
  background-color: blue;
}
.createRoom{
  border: none;
  font-size: 1em;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  color: aliceblue;
  background-color: blue;
}