/* ===== IMPORTS (ONLY HERE) ===== */
@import "./components/header/header.css";
@import "./components/sidebar/sidebar.css";
@import "./components/chat/chat.css";
@import "./components/prompt/prompt.css";

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}


/* ===== LAYOUT ===== */
.app-layout {
  display: flex;
  height: 100vh;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: transparent;
}

