*{
    margin:0;
    padding:0;
    font-family:sans-serif;

}.container {
    height:100vh;
    width:100%;
    background-image: url("media/music player 1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width:88%;
    margin:auto;
    padding:15px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 15px;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
    font-size:15px;
    font-weight:600;
}
.content{
    width:100%;
   
}
#play-button{
    width:80px;
    cursor: pointer;
    margin-left: 690px;
    margin-top: 350px;
}